+﻿@using Logowanie.Models
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model IEnumerable<Pacjent>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<form asp-controller="Lekarz" asp-action="Index" method="get">
    <p>
        Pesel: <input type="text" name="SearchString">
        <input type="submit" value="Szukaj" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            PESEL
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Imie
        </th>
        <th></th>
    </tr>
    @{


        foreach (var item in Model)
        {

            <tr>
                @if (item.Pesel != 0)
                {
                    <td>

                        @Html.DisplayFor(modelItem => item.Pesel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazwisko)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imie)
                    </td>
                    <td>
                        <form asp-controller="Lekarz" asp-action="Edit" method="get">
                            <a asp-action="Edit" asp-route-id="@item.IdPacjent">Wybierz</a>
                        </form>
                    </td>
                }
            </tr>

        }

    }
</table>