@model Wizyty
@{
    ViewData["Title"] = "WizytyDodaj";
}

<table>
    <tr>
        @DateTime.Now
    </tr>
    <tr>
        <form asp-controller="Lekarz" asp-action="WizytyDodaj" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="IdPacjent" />
            <input type="hidden" asp-for="IdWizyty" />
            <input type="hidden" asp-for="DataWizyty" />
            <div class="form-group">
                <label asp-for="Opis"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zalecenia"></label>
                <input asp-for="Zalecenia" class="form-control" />
                <span asp-validation-for="Zalecenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Dodaj" class="btn btn-default" />
                </div>
            </div>
        </form>
    </tr>
    <tr>
        <form asp-controller="Lekarz" asp-action="LekDodaj" method="get">
            <a asp-action="LekDodaj" asp-route-id="@Model.IdWizyty">Dodaj lek</a>
        </form>
    </tr>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}