@using Logowanie.Models
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model IEnumerable<Logowanie.Models.Pacjent>
@{
    ViewData["Title"] = "IndexAsync";
}

<h2>IndexAsync</h2>


<form asp-controller="Rejestratorka" asp-action="IndexAsync" method="get">
    <p>
        email: <input type="text" name="SearchString">
        <input type="submit" value="Szukaj" />
    </p>
</form>
        <table class="table">
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Imie
                </th>
            </tr>
        </table>
             @{ string searchString = ViewBag.Message;
                 
                    foreach (var item in Model.Where(s => s.Email.Contains(searchString)))
            {
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.Email)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Nazwisko)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Imie)
                        </th>
                        <td>
                                    <a asp-action="Edit" asp-route-id="@item.IdPacjent">Edytuj</a> 
                        </td>
                    </tr>
                </table>
                     }
                 }

