@using Logowanie.Models
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model IEnumerable<Pacjent>
@{
    ViewData["Title"] = "Wyszukaj";
}

<font face="Time New Roman">
    <div align="center">
        <h2><b>Wyszukaj pacjenta</b></h2>
        </div>
    <hr />

        <font size="4">
            <br />


            <form asp-controller="Rejestratorka" asp-action="IndexAsync" method="get">
                <p>
                    <b> Podaj adres email:</b>
                    <div class="row">
                        <div class="col-md-3">
                            <input class="form-control" name="SearchString" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Szukaj</button>
                        </div>

                    </div>


                </p>
            </form>
            <table class="table">
                <tr>
                    <td width="400">
                        <b> Email </b>
                    </td>
                    <td width="300">
                        <b> Nazwisko </b>
                    </td>
                    <td width="300">
                        <b> Imię </b>
                    </td>
                    <th></th>
                </tr>

                @{


                    foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nazwisko)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Imie)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.IdPacjent">Edytuj</a>
                            </td>
                        </tr>

                    }

                }
            </table>

