@model Pacjent
@{
    ViewData["Title"] = "About";
}
<font face="Time New Roman">

    <h2><b>Dane osobowe</b></h2>
    <form asp-controller="Home" asp-action="About" method="get">
        <p>
            <input type="hidden" asp-for="IdPacjent">
        </p>
    </form>
    @{
        string imie = Model.Imie;
        string nazwisko = Model.Nazwisko;
        var datauro = DateTime.Now.Date;
      

    }
    <font size="4">

       
        Imie: &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>@imie</b>
        <br />Nazwisko: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>@nazwisko</b>
        <br />Data urodzenia:&nbsp;&nbsp;&nbsp;&nbsp; <b>@datauro</b>

    </font>
</font>
