@using System.Security.Claims;
@model Pacjent;
@{
    ViewData["Title"] = "Dane";
}
<front face="Time New Roman">
    <div align="center">
    <h2><b>Dane osobowe</b></h2>
        </div>
    <font size="4">

        @{
            string imie;
            string nazwisko;
            string date;
        }

        @{ if (User.HasClaim(ClaimTypes.Role, "Pacjent"))
                {
                    imie = Model.Imie;
                    nazwisko = Model.Nazwisko;
                    date = Model.DataUr.ToShortDateString();
                }

                else
                {
                    imie = " ";
                    nazwisko = "";
                    date = "";
                }
            }
            Imię: <b>@imie</b>
        <br />Nazwisko: <b>@nazwisko</b>
        <br />Data urodzenia: <b>@date</b>



    </font>
