@{
    ViewData["Title"] = "Wizyty";
}

<font face="Time New Roman">

    <h2><b>Wizyty</b></h2>


    <style type="text/css">

        table, th, td {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }

        td {
            padding: 0px 5px
        }

        th, th + th + th {
            width: 40px;
            background: #A0A0FF
        }

            th + th {
                width: 100px
            }
    </style>

    <table id="myTable">
        <tr><th>#</th><th></th><th></th></tr>
        <tr><td>1</td><td>Wartość 1</td></tr>
    </table>
</font>