@using Logowanie.Models
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model IEnumerable<Wizyty>
@{
    ViewData["Title"] = "Wizyty";
}
<front face="Time New Roman">
    <div align="center">
    <h2><b>Wizyty</b></h2>
        </div>
    <font size="4">
        <form asp-controller="Home" asp-action="Contact" method="get">
            <p>
                Wpisz datę:
                <div class="row">
                    <div class="col-md-3">
                        <input class="form-control" name="SearchString" />
                    </div>

                    <div class="form-group" >
                        <button type="submit" class="btn btn-default">Szukaj</button>
                    </div>

                </div>


            </p>
        </form>
        <table class="table">
            <tr>
                <td width="200" align="center">
                    Data wizyty
                </td>
                <td width="500"align="center">
                    Opis
                </td>
                <td width="500"align="center">
                    Zalecenia
                </td>
                <td></td>
            </tr>

            @{


                foreach (var item in Model)
                {

                    <tr>
                        <td width="200" align="center">
                            @Html.DisplayFor(modelItem => item.DataWizyty)
                        </td>
                        <td width="500"align="center">
                            @Html.DisplayFor(modelItem => item.Opis)
                        </td>
                        <td width="500" align="center">
                            @Html.DisplayFor(modelItem => item.Zalecenia)
                        </td>

                        <td></td>
                    </tr>

                }

            }
        </table>
        </font>
</front>
