
﻿@using System.IdentityModel;

@model IEnumerable<IdentityRole>;
@using Logowanie.Models;
 @using Microsoft.AspNetCore.Authorization
 @inject IAuthorizationService AuthorizationService

    @{
        ViewData["Title"] = "Przychodnia";
    }




    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/b4.jpg" alt="ASP.NET" class="img-responsive" />

            </div>
            <div class="item">
                <img src="~/images/b2.png" alt="Visual Studio" class="img-responsive" />

            </div>
            <div class="item">
                <img src="~/images/b3.jpg" alt="Microsoft Azure" class="img-responsive" />

            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Poprzedni</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Następny</span>
        </a>
    </div>

    <div>

 <div align="center">
        <h1>Witamy na głównej stronie Prywatnej Przychodni!</h1>
</div>
        <ul>
            Aby umówić się na wizytę należy założyć konto na stronie internetowej, a następnie przyjść do przychodni w celu uzupełnienia danych osobowych przez rejestratorkę oraz umówienia daty pierwszej wizyty.

        </ul>

    </div>


            <div class="btn-group">


           

                @if (AuthorizationService.AuthorizeAsync(User,"Admin").IsCompletedSuccessfully)
                {
                    <a id="createRoleButton" asp-action="AddRole" asp-controller="ApplicationRole" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>  Add Role
                    </a>
                }

               

            </div>
                  

