
@{
    ViewData["Title"] = "Błąd";
}
<font face="Time New Roman">
    <div align="center">
        <h2>Błąd! Brak podanego użytkownika lub dany email nie został potwierdzony.</h2>
    </div>
    </font>