@model Logowanie.Models.AccountViewModels.ChangePasswordModel
@{
    ViewData["Title"] = "Zmień hasło";
}
<form asp-controller="Account" asp-action="ChangePassword" method="post" class="form-horizontal">
    <font face="Time New Roman">
        <div align="center">
            <h2><b>Zmień hasło</b></h2>
            <font size="4">
            <div class="row">
                <div class="col-sm-4 col-sm-push-4">


                    <hr />
                    <div class="form-group">
                        <label asp-for="CurrentPassword"></label>
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default">Zmień</button>

                </div>
            </div>
            </div>
        </font>
    
</form>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
